openapi: 3.1.0
info:
  title: Litmus Hiring REST Invites Roles API
  version: v1
  description: REST API for the Litmus technical hiring platform. Litmus turns repositories, engineering tickets, and job descriptions into structured, project-based technical assessments and interview pipelines, and syncs candidate management with Ashby, Greenhouse, and Lever. This specification was GENERATED by the API Evangelist enrichment pipeline from the provider's published REST reference (https://litmushiring.com/docs/rest); Litmus does not (yet) publish a machine-readable OpenAPI document. Only operations, paths, the base URL, and the authentication scheme that are explicitly documented are represented here. Request/response bodies are modeled loosely where the docs do not publish field-level schemas — nothing is fabricated.
  contact:
    name: Litmus Support
    email: support@litmushiring.com
    url: https://litmushiring.com/docs
  x-generated-by: api-evangelist-enrichment-pipeline
  x-generated-source: https://litmushiring.com/docs/rest
servers:
- url: https://www.litmushiring.com/api/v1
  description: Production
security:
- bearerApiKey: []
tags:
- name: Roles
  description: Open roles within your organization
paths:
  /roles:
    get:
      operationId: listRoles
      summary: List roles
      description: Retrieve all roles within your organization.
      tags:
      - Roles
      responses:
        '200':
          description: A list of roles.
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Missing, malformed, or revoked credentials.
  securitySchemes:
    bearerApiKey:
      type: http
      scheme: bearer
      description: 'Organization-scoped API key issued in the dashboard under Settings -> API Keys, sent as `Authorization: Bearer litmus_sk_...`. A 401 indicates a missing, malformed, or revoked credential.'
