openapi: 3.2.0
info:
  title: Litmus Hiring REST Submissions API
  version: v1
  description: REST API for the Litmus technical hiring platform.
  contact:
    name: Litmus Support
    email: support@litmushiring.com
    url: https://litmushiring.com/docs
  x-generated-by: api-evangelist-enrichment-pipeline
  x-generated-source: https://litmushiring.com/docs/rest
servers:
- url: https://www.litmushiring.com/api/v1
  description: Production
security:
- bearerApiKey: []
tags:
- name: Submissions
  description: Candidate assessment submissions
paths:
  /submissions/{id}:
    get:
      operationId: getSubmission
      summary: Get a submission
      description: Fetch a single submission record by its identifier.
      tags:
      - Submissions
      parameters:
      - name: id
        in: path
        required: true
        description: The submission identifier.
        schema:
          type: string
      responses:
        '200':
          description: A submission record.
          content:
            application/json:
              schema:
                type: object
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Submission not found.
components:
  responses:
    Unauthorized:
      description: Missing, malformed, or revoked credentials.
  securitySchemes:
    bearerApiKey:
      type: http
      scheme: bearer
      description: 'Organization-scoped API key issued in the dashboard under Settings -> API Keys, sent as `Authorization: Bearer litmus_sk_...`. A 401 indicates a missing, malformed, or revoked credential.'
